<!DOCTYPE html>
<html>
  <head>
	  <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navbar %>
    <div style="padding: 5px;">
      <input type="button" onclick="location.href='/console/dir_map';" value="Direction Map" />
      <input type="button" onclick="location.href='/console/maps_edit';" value="Edit Map Locations" />
      <input type="button" onclick="location.href='/console/news_edit';" value="Edit News Category" />
    </div>
    <% include ../partials/alert_massage %>
  </body>
</html>
